<h1>Role & Permissions</h1>


<table border="1">
  <thead>
    <tr>
      <th>Resource</th>
      <th>read</th>
      <th>write</th>
      <th>destroy</th>
    </tr>
  </thead>
  <tbody>
    <%Permission.all.each do |p|%>
      <tr>
        <td><%= p.model_list.name%></td>
        <td><%= p.is_read%></td>
        <td><%= p.is_create%></td>
        <td><%= p.is_destroy%></td>
      </tr>
    <%end%>
  </tbody>
</table>